<!-- Footer Component -->
<footer class="footer bg-dark py-5 py-lg-11 py-xl-12">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 mb-8 mb-xl-0">
        <div class="d-flex flex-column gap-8 pe-xl-5">
          <h2 class="mb-0 text-white">Build something together?</h2>
          <div class="d-flex flex-column gap-2">
            <a href="mailto:georgemillerrr43@gmail.com?subject=Project%20Inquiry" target="_blank" rel="noopener noreferrer" class="link-hover hstack gap-3 text-white fs-5">
              <iconify-icon icon="lucide:arrow-up-right" class="fs-7 text-primary"></iconify-icon>
              georgemillerrr43@gmail.com
            </a>
            <a href="https://goo.gl/maps/Qni6Uh9qAt5Nmnk8A?g_st=aw" target="_blank" rel="noopener noreferrer" class="link-hover hstack gap-3 text-white fs-5">
              <iconify-icon icon="lucide:map-pin" class="fs-7 text-primary"></iconify-icon>
              Indonesia, Karawang
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
        <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
          <li><a class="link-hover fs-5 text-white" href="index.html">Home</a></li>
          <li><a class="link-hover fs-5 text-white" href="about.html">About</a></li>
          <li><a class="link-hover fs-5 text-white" href="services.html">Services</a></li>
          <li><a class="link-hover fs-5 text-white" href="projects.html">Work</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
        <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
          <li><a class="link-hover fs-5 text-white" href="https://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a></li>
          <li><a class="link-hover fs-5 text-white" href="https://instagram.com/georgemllr43" target="_blank" rel="noopener noreferrer">Instagram</a></li>
          <li><a class="link-hover fs-5 text-white" href="https://twitter.com" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-3 mb-8 mb-xl-0">
        <p class="mb-0 text-white text-opacity-70 text-md-end">© Joji copyright 2026</p>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button -->
<div class="get-template hstack gap-2">
  <button class="btn bg-primary p-2 round-52 rounded-circle hstack justify-content-center flex-shrink-0"
    id="scrollToTopBtn" aria-label="Scroll to top">
    <iconify-icon icon="lucide:arrow-up" class="fs-7 text-dark"></iconify-icon>
  </button>
</div>
