<!-- Header Navigation Component -->
<header class="header border-4 border-primary border-top position-fixed start-0 top-0 w-100">
  <div class="container">
    <div class="header-wrapper d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="index.html" class="logo-white">
          <img src="../assets/images/logos/joji-white.png" alt="Joji Logo" class="img-fluid">
        </a>
        <a href="index.html" class="logo-dark">
          <img src="../assets/images/logos/joji-black.png" alt="Joji Logo" class="img-fluid">
        </a>
      </div>
      <div class="d-flex align-items-center gap-4">
        <div class="btn-group">
          <button
            class="btn btn-secondary toggle-menu round-45 p-2 d-flex align-items-center justify-content-center bg-white rounded-circle"
            type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"
            aria-label="Toggle navigation menu">
            <iconify-icon icon="solar:hamburger-menu-line-duotone" class="menu-icon fs-8 text-dark"></iconify-icon>
          </button>
          <ul class="dropdown-menu dropdown-menu-end p-4">
            <div class="d-flex flex-column gap-6">
              <div class="hstack justify-content-between border-bottom pb-6">
                <p class="mb-0 fs-5 text-dark">Menu</p>
                <button type="button" class="btn-close opacity-75" aria-label="Close menu"></button>
              </div>
              <div class="d-flex flex-column gap-3">
                <ul class="header-menu list-unstyled mb-0 d-flex flex-column gap-2">
                  <li class="header-item">
                    <a href="index.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      Home
                    </a>
                  </li>
                  <li class="header-item">
                    <a href="about.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      About
                    </a>
                  </li>
                  <li class="header-item">
                    <a href="projects.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      Projects
                    </a>
                  </li>
                  <li class="header-item">
                    <a href="blog.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      Blog
                    </a>
                  </li>
                  <li class="header-item">
                    <a href="services.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      Services
                    </a>
                  </li>
                  <li class="header-item">
                    <a href="contact.html" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                      <img src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20" height="20" class="img-fluid animate-spin">
                      Contact
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <a class="text-dark" href="tel:+62-831-8887-8936">+62-831-8887-8936</a>
                <a class="fs-8 text-dark fw-bold" href="mailto:georgemillerrr43@gmail.com">georgemillerrr43@gmail.com</a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
